extends layout

block content
  h1 ACTIVE USERS
  p Number of users are #{numberOfUsers}.
  p Registered users are :
  a(href="/users/david") #{hairdresser}
  p
  a(href="/users/roger") #{customer}
  p
  a(href="/") Go to HOME
