{
  "extends": ["airbnb", "prettier", "plugin:jest/all"],
  "rules": {
    "eqeqeq": "off",
    "class-methods-use-this": "off"
  },
  "parser": "babel-eslint",
  "settings": {
    "react": {
      "version": "latest"
    }
  }
}
