:root {
  --my-screen-width: 450px;
  --my-blue: #156eac;
  --my-font-white: white;
  --my-aliceblue: aliceblue;
  --my-lightblue: #a2d4ff;
  --my-darkblue: #5386b2;
}

@media only screen and (max-width: 992px) {
  .search-input {
    font-size: larger;
  }
  header {
    padding: 0.4rem 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .bg-video {
    visibility: hidden;
    position: absolute;
  }
  .search-card-container {
    position: relative;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    margin-bottom: 10vh;
    margin-top: 10vh;
  }
  .search-input,
  .search-button {
    font-size: x-large;
  }
}

@media only screen and (max-width: 450px) {
  .navbar-brand {
    font-size: 1.1rem;
  }
  header {
    padding: 0.4rem 0.5rem;
  }
}
