#header-row.row
  #logo-col.col-8
    img.logo(src='/images/logo.svg', alt='logo')
  #header-nav-col.col-4.text-end
    a.navbar-brand(href='/login') Log in
    a.navbar-brand(href='/signup') Sign up
