.social-media-icons
  if hairdresser.facebook
    img.me-3(src='/images/icons/facebook.svg', alt='facebookIcon')
  else
    img.me-3(src='/images/icons/facebook-faded.svg', alt='facebookIcon')
  if hairdresser.instagram
    img(src='/images/icons/instagram.svg', alt='instagramIcon')
  else
    img(src='/images/icons/instagram-faded.svg', alt='instagramIcon')
