extends layout

block main
  #search-row.row.g-0
    #search-row-col.col.g-0
      .video-container.position-relative
        video(playsinline='playsinline', autoplay='autoplay', muted='muted', loop='loop')
          source(src='images/barbershop.mp4', type='video/mp4')
      #searchCardContainer
        #search-card.card.m-3.border-primary
          h5.card-header.text-center I am looking for
          .card-body
            #search-form.form.text-center(action='submit')
              .radiobox-container
                .row.align-items-center.mx-2
                  .col-12.col-sm-6.text-center.mb-2
                    .form-check.form-check-inline
                      input#selectHairdresser.form-check-input(type='radio', name='searchType', checked)
                      label.form-check-label(for='selectHairdresser') Hairdresser
                  .col-12.col-sm-6.text-center.mb-2
                    .form-check.form-check-inline
                      input#selectCustomer.form-check-input(type='radio', name='searchType')
                      label.form-check-label(for='selectCustomer') Customer
              #search-inputs-row.row.align-items-center.mx-2
                .col-12.col-lg-8.mb-1
                  input.p-1.mt-3(type='text', placeholder='State, Region, Name etc.')
                .col-12.col-lg-4.mb-1
                  button.btn.btn-primary.mt-3(type='submit') Search
  #find-hairdresser.row.g-0
    .col.g-0
      .hairdresser-container.pt-5
        h1.text-center.text-secondary Find a mobile hairdresser close to your location
