extends layout

block main
  #search-row.row.g-0
    #search-row-col.col.g-0
      .video-container.position-relative
        video(playsinline='playsinline', autoplay='autoplay', muted='muted', loop='loop')
          source(src='images/barbershop.mp4', type='video/mp4')
      #searchCardContainer
        #search-card.card.m-3
          h5.card-header.text-center I am looking for
          .card-body
            #search-form.form.text-center(action='submit')
              .form-check.form-check-inline
                input#selectHairdresser.form-check-input(type='radio', name='searchType', checked)
                label.form-check-label(for='selectHairdresser') Hairdresser
              .form-check.form-check-inline
                input#selectCustomer.form-check-input(type='radio', name='searchType')
                label.form-check-label(for='selectCustomer') Customer
              .row.align-items-center.mx-2
                .col-12.col-md-8
                  input.p-1.mt-3(type='text', placeholder='State, Region, Name etc.')
                .col-12.col-md-4
                  button.btn.btn-primary.mt-3(type='submit') Search
