extends layout

block main
  #main-row.row.g-0
    .col-12.g-0
      //- img.search-bg-img.img-fluid(src='/images/three-hairdressers.jpg', alt='three-hairdressers')
      video(playsinline='playsinline', autoplay='autoplay', muted='muted', loop='loop')
        source(src='images/barbershop.mp4', type='video/mp4')
      .searchCardContainer
        #search-card.card.m-3
          h5.card-header.text-center I am looking for
          .card-body
            #search-form.form.text-center(action='submit')
              .form-check.form-check-inline
                input#selectHairdresser.form-check-input(type='radio', name='searchType', checked)
                label.form-check-label(for='selectHairdresser') Hairdresser
              .form-check.form-check-inline
                input#selectCustomer.form-check-input(type='radio', name='searchType')
                label.form-check-label(for='selectCustomer') Customer
