extends layout

block main
  section.first
    .row.g-0
      .col.g-0
        .position-relative
          video.bg-video(playsinline='playsinline', autoplay='autoplay', muted='muted', loop='loop')
            source(src='images/videos/barbershop.mp4', type='video/mp4')
        .search-card-container
          .card.m-3.border-primary
            h5.card-header.text-center I am looking for
            .card-body
              .form.text-center(action='submit')
                .radiobox-container
                  .row.align-items-center.mx-2
                    .col-12.col-sm-6.text-center.mb-2
                      .form-check.form-check-inline
                        input.form-check-input(type='radio', name='searchType', checked)
                        label.form-check-label(for='selectHairdresser') Hairdresser
                    .col-12.col-sm-6.text-center.mb-2
                      .form-check.form-check-inline
                        input.form-check-input(type='radio', name='searchType')
                        label.form-check-label(for='selectCustomer') Customer
                .row.align-items-center.mx-2
                  .col-12.col-lg-8.mb-1
                    input.search-input.mt-3(type='text', placeholder='State, Region, Name etc.')
                  .col-12.col-lg-4.mb-1
                    button.search-button.btn.btn-primary.mt-3(type='submit') Search
  section.second
    .row.g-0
      .col.g-0
        h1.text-center.text-secondary.mb-5 Find a mobile hairdresser close to your location
        .row.g-0.align-items-center
          .col-12.col-md-3.text-center
            img(src='/images/icons/hair-dryer-icon.svg', alt='hairDryerIcon')
          .col-12.col-md-6.text-center
            .card
              .row.g-0
                .col-4.d-flex.flex-wrap.align-items-center.p-2
                  img.card-img-center.img-thumbnail.rounded-circle(
                    src='/images/photos/hairdresser.jpg',
                    alt='hairdresser'
                  )
                .col-8
                  .card-body
                    h5.card-title Card title
                    p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                    a.btn.btn-primary(href='#') goo
          .col-12.col-md-3.text-center
            img(src='/images/icons/scissors-icon.svg', alt='scissorsIcon')
  section.third
    .row.g-0
      .col.g-0
        h1.text-center.text-secondary.mb-5 Look at customer requests for mobile hairdressers
        .row.g-0.align-items-center
          .col-12.col-md-3.text-center
            img(src='/images/icons/female-icon.svg', alt='femaleIcon')
          .col-12.col-md-6.text-center
            .card
              .card-body
                h5.card-title Card title
                p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                a.btn.btn-primary(href='#') goo
          .col-12.col-md-3.text-center
            img(src='/images/icons/male-icon.svg', alt='maleIcon')
