body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
:root {
  --my-screen-width: 450px;
  --my-blue: #156eac;
  --my-font-white: white;
}

@media only screen and (max-width: 450px) {
  .navbar-brand {
    font-size: 0.8rem;
  }
  video {
    visibility: hidden;
  }
}

}

a {
  color: #00b7ff;
}
