/* * {
  border: 1px solid rgb(250, 141, 141);
} */

:root {
  --my-screen-width: 450px;
  --my-blue: #156eac;
  --my-font-white: white;
}

@media only screen and (max-width: 450px) {
  .navbar-brand {
    font-size: 0.8rem;
  }
  video {
    visibility: hidden;
  }
}

.container-fluid {
  min-width: var(--my-screen-width);
  padding: 0;
}

header {
  padding: 0.4rem 1rem;
  background-color: var(--my-blue);
  border-bottom: 1px solid rgb(165, 157, 157);
  box-shadow: 0 4px 8px 0 rgba(148, 147, 147, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header a {
  color: var(--my-font-white);
}

.logo {
  height: 45px;
  min-width: 200px;
}

#header-nav-col {
  height: 45px;
  line-height: 45px;
}

video {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0.9;
}

.searchCardContainer {
  margin: 13vw auto;
  max-width: 650px;
}
