.row.g-0
  .col-8
    img.logo(src='/images/logo/logo.svg', alt='logo')
  .col.col-4.d-flex.justify-content-end.align-items-center
    a.navbar-brand(href='/login') Log in
    a.navbar-brand.me-0(href='/signup') Sign up
